.futureItem-container {
	display: flex;
	margin-bottom: 73px;
	justify-content: flex-end;
}

.futureItem-content {
	margin-left: 49px;
	max-width: 436px;
	max-height: 160px;
	text-align: left;
}

.futureItem-title {
	font-size: 21px;
	margin-bottom: 13px;
}

.futureItem-text {
	font-size: 18px;
	font-weight: 400;
}
