.global-btn {
	display: inline-flex;
	padding: 11px 23px 10px 23px;
	justify-content: center;
	align-items: center;
	border-radius: 32px;
	color: #fff;
	border: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
	cursor: pointer;
	box-shadow: 10px 10px 20px 0px rgba(170, 170, 204, 0.5),
		5px 5px 10px 0px rgba(170, 170, 204, 0.25);
	background: linear-gradient(180deg, #eb3f57 0%, #893944 100%);
}

.global-btn:hover {
	border-radius: 40px;
	transition: 0.4s;
	box-shadow: -1px -1px 2px 0px #fff inset,
		1px 1px 2px 0px rgba(170, 170, 204, 0.5) inset;
	background-color: #eb3f57;
}
