.cardList-container {
	margin-top: 244px;
}

.cardList-subtitle {
	text-transform: uppercase;
	font-size: 36px;
	color: #454654;
	font-weight: 400;
	width: 150px;
	margin-bottom: 9px;
}

.cardList-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.cardList-top {
	margin-top: 160px;
}
