.future-content {
	text-align: right;
}

.future-subtitle {
	display: inline-block;
	text-transform: uppercase;

	font-size: 36px;
	color: #454654;
	font-weight: 400;
	max-width: 168px;
	margin-bottom: 9px;
}

.future-img-arrow {
	display: block;
}

.future-img {
	position: absolute;
	left: 0;
}
