.header-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 12px 212px;
	align-items: center;
}

.header-nav,
.header-list {
	display: flex;
	align-items: center;
	font-size: 20px;
}

.header-list li {
	margin-right: 73px;
}

.header-list li:last-child {
	margin-right: 67px;
}
.header-list li:hover {
	color: #eb3f57;
}
